ZHIPU_API_KEY = your_xai_api_key_here
ZHIPU_MODEL   = 'glm-4-flash'  # Zhipu AI এর fast & free model

MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=flight_booking

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=
